
    <footer>
        <span>Created by Jennifer Currie</span>
				<section id="socialMedia">
					<a href="http://www.freecodecamp.com/renestl" target='_blank' role='button' class='socialContact'><i class='fire icon'></i></a>
					<a href="https://github.com/Renestl" target='_blank' role='button' class='socialContact'><i class='github icon'></i></a>
					<a href="http://codepen.io/renestl/" target='_blank' role='button' class='socialContact'><i class='codepen icon'></i></a>
					<a href="https://linkedin.com/pub/jennifer-currie-mba-rhia/5/975/5a8" target='_blank' role='button' class='socialContact'><i class='linkedin icon'></i></a>
				</section>

    </footer>

    </body>
</html>