<% include partials/header%>

<div class='container'>
<h1>Request Header Parser</h1>

	<blockquote cite='https://www.freecodecamp.com/challenges/request-header-parser-microservice'>
	<h3>User story:</h3>
	<p> I can get the IP address, language and operating system for my browser.</p>
	</blockquote>

	<h3>Example usage:</h3>
	<code>https://thawing-plateau-57695.herokuapp.com/api/whoami</code>

	<h3>Example output:</h3>
	<code>
		<ul>
			<li><strong>IP address:</strong> "127.0.0.1"</li>
			<li><strong>Language:</strong> "en-US"</li>
			<li><strong>Operating System:</strong> "Windows NT 6.1; WOW64"</li>
		</ul>
	</code>

</div>

<% include partials/footer%>