<% include partials/header%>

<div class='container'>
<h1>Request Header Parser</h1>

<h3>IP address: <span>here</span></h3>
<h3>Language:</h3>
<h3>Operating System:</h3>
</div>

<% include partials/footer%>