<% include partials/header%>

<div class='container'>
<h1>Request Header Parser</h1>

<h3>IP address: <span>"<%= addressVar %>"</span></h3>
<h3>Language: <span>"<%= languageVar %>"</span></h3>
<h3>Operating System: <span>"<%= osVar %>"</span></h3>
</div>

<% include partials/footer%>